Exercises Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

What is 7 to the power of 4?

In [1]:
a=pow(7,4)
print(a)

2401

Split this string:

In [2]:
s = "Hi there Sam!"

into a list.

In [3]:
a="Hi there Sam!"
print(a.split())

['Hi', 'there', 'Sam!']

Given the variables:

In [4]:
planet = "Earth"
diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [5]:
diameter = 12742
print("The diameter of Earth is {} kilometers".format(diameter))

The diameter of Earth is 12742 kilometers

Given this nested list, use indexing to grab the word "hello"

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
b=d["k1"]
d=b[3]
e=d["tricky"]
f=e[3]
g=f["target"]
print(g[3])

hello

What is the main difference between a tuple and a list?

One of the most important differences between a list and tuple is that LIST IS MUTABLE,WHEREAS AS TUPLE IS IMMUTABLE.
Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [ ]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [ ]:
def hai():
    a=input("Enter the string")
    if "dog" in a:
        print("True")
hai()

Enter the stringdog i miss you
True
Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [ ]:
a = "dog i miss you dog"
print(a.count('dog'))

Problem You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
a="is_birthday"
caught_speeding(90,a)
'Big Ticket'
a="is_birthday"
caught_speeding(70,a)

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
a=["raju","harish","punitha","harini","hussain"]
for i in a:
    salary=int(input("enter the salary"))
    a=[]
    a.append(salary)

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [ ]:
a=["Empid","Empname","Basicpay"]

b=["121","Harish","100000"]
c=dict(zip(a,b))
print(c)